<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Home</title>
    <link rel="stylesheet"  type="text/css" href="/styles/main.css">
</head>
<body>
    <h1>Blog Post</h1>
    <a class="heading" href="/create">Create a new Blog.</a>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a class="title" href="/post/<%= post.id %>"><%= post.title %></a>
                <a href="/edit/<%= post.id %>">Edit</a>
                <form action="/delete/<%= post.id %>" method="POST" style="display: inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }) %>
    </ul>

</body>
</html>